html {
    scroll-behavior: smooth;
}

body {
    background: #092532;
    font-family: 'Baloo Tamma 2', cursive;
}

.bg-loader {
    background-color: #eee;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-loader .loader {
    width: 100px;
    height: 100px;
    border: 3px solid #fff;
    border-radius: 50%;
    border-top-color: #0d3540;
    border-right-color: #0d3540;
    border-bottom-color: #0d3540;
    animation: round .8s linear infinite;
}

@keyframes round {
    100% {
        transform: rotate(360deg);
    }
}

.navbar-toggler {
    border-color: #f5ba09 !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(245, 186, 9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.m-heading {
    font-family: 'Roboto Slab', serif;
}

.navigation-link {
    border: 2px solid transparent;
}

.navigation-link:hover {
    text-decoration: none;
}

.navigation-link:hover::after {
    content: '';
    display: block;
    border-bottom: 2px solid #f5ba09;
    transition: 0.5 ease;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -7px;
}

.main-container {
    min-height: 100vh;
}

.main-container img {
    max-width: 100%;
}

.main-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-row h1 {
    font-size: 4rem;
}

.main-row img {
    width: auto;
    height: 100vh;
}

#about {
    margin-top: 50px;
    background: #0d3540;
    border-radius: 0.5rem;
}

#services {
    padding-bottom: 80px;
}

.info-service {
    padding: 30px;
}

.info-service img {
    width: 120px;
    height: 120px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.info-service h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
}

.info-service p {
    margin-top: -5px;
    font-weight: 200;
}


#projects {
    background: #0d3540;
}

.card {
    border-bottom: 8px solid #f5ba09;
    max-width: 100%;
}

.media-link {
    padding: 1rem;
    max-width: 20rem;
    margin-left: 1rem;
    border: 2px solid #f5ba09;
    border-radius: 0.5rem;
}

@media (max-width: 425px) {

    .main-row h1 {
        font-size: 3rem;
    }

    .main-container {
        margin-top: 20px;
    }

    .main-container img {
        width: 100%;
    }

    .media-link {
        margin-bottom: 20px;
        max-width: 23rem;
    }
}

@media (max-width: 768px) {
    .navbar .navbar-brand {
        text-align: center;
        float: none;
    }

    .navigation-link:hover {
        text-decoration: none;
    }

    .navigation-link:hover::after {
        content: '';
        display: block;
        border-bottom: 2px solid #f5ba09;
        transition: 0.5 ease;
        width: 20%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -7px;
    }

    .main-container {
        margin-top: 20px;
    }

    .main-container img {
        width: 100%;
    }

    .info-service {
        padding-bottom: -100px;
    }

    .info-service .col-lg {
        margin-bottom: 50px;
    }

    .media-link {
        margin-bottom: 20px;
        min-width: 18rem;
    }
}